In [2]:
pip install pandas numpy scipy

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.3.1-cp39-cp39-macosx_11_0_arm64.whl (10.8 MB)
     |████████████████████████████████| 10.8 MB 2.5 MB/s eta 0:00:01
Collecting numpy
  Downloading numpy-2.0.2-cp39-cp39-macosx_14_0_arm64.whl (5.3 MB)
     |████████████████████████████████| 5.3 MB 4.0 MB/s eta 0:00:01
Collecting scipy
  Downloading scipy-1.13.1-cp39-cp39-macosx_12_0_arm64.whl (30.3 MB)
     |████████████████████████████████| 30.3 MB 4.3 MB/s eta 0:00:01
Collecting pytz>=2020.1
  Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
     |████████████████████████████████| 509 kB 4.2 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/yadvendrasingh/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Collecting tzdata>=2022.7
  Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
     |████████████████████████████████| 347 kB 12.0 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Installing collected packages: tzdata, pytz, numpy, scipy, pandas
Successfully installed numpy-2.0.2 pandas-2.3.1 pytz-2025.2 scipy-1.13.1 tzdata-2025.2
WARNING: You are using pip version 21.2.4; however, version 25.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("/Users/yadvendrasingh/Downloads/Indian Airlines.csv")

In [ ]:
print("Shape:", df.shape)         # Number of rows & columns
print("\nColumn names:", df.columns)
print("\nData Types:\n", df.dtypes)
print("\nMissing Values:\n", df.isnull().sum())
print("\nFirst 5 rows:\n", df.head())

In [5]:
df.shape

(300153, 12)

In [6]:
df.columns

Index(['Unnamed: 0', 'airline', 'flight', 'source_city', 'departure_time',
       'stops', 'arrival_time', 'destination_city', 'class', 'duration',
       'days_left', 'price'],
      dtype='object')

In [7]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [8]:
df.rename(columns={
    'unnamed_0': 'record_id',
    'airline': 'airline_name',
    'flight': 'flight_number',
    'source_city': 'source_city',
    'departure_time': 'departure_time',
    'stops': 'number_of_stops',
    'arrival_time': 'arrival_time',
    'destination_city': 'destination_city',
    'class': 'travel_class',
    'duration': 'flight_duration',
    'days_left': 'days_until_departure',
    'price': 'ticket_price'
}, inplace=True)

In [9]:
df.columns

Index(['unnamed:_0', 'airline_name', 'flight_number', 'source_city',
       'departure_time', 'number_of_stops', 'arrival_time', 'destination_city',
       'travel_class', 'flight_duration', 'days_until_departure',
       'ticket_price'],
      dtype='object')

In [11]:
df.drop_duplicates

<bound method DataFrame.drop_duplicates of         unnamed:_0 airline_name flight_number source_city departure_time  \
0                0     SpiceJet       SG-8709       Delhi        Evening
1                1     SpiceJet       SG-8157       Delhi  Early_Morning
2                2      AirAsia        I5-764       Delhi  Early_Morning
3                3      Vistara        UK-995       Delhi        Morning
4                4      Vistara        UK-963       Delhi        Morning
...            ...          ...           ...         ...            ...
300148      300148      Vistara        UK-822     Chennai        Morning
300149      300149      Vistara        UK-826     Chennai      Afternoon
300150      300150      Vistara        UK-832     Chennai  Early_Morning
300151      300151      Vistara        UK-828     Chennai  Early_Morning
300152      300152      Vistara        UK-822     Chennai        Morning

       number_of_stops   arrival_time destination_city travel_class  \
0                 zero          Night           Mumbai      Economy
1                 zero        Morning           Mumbai      Economy
2                 zero  Early_Morning           Mumbai      Economy
3                 zero      Afternoon           Mumbai      Economy
4                 zero        Morning           Mumbai      Economy
...                ...            ...              ...          ...
300148             one        Evening        Hyderabad     Business
300149             one          Night        Hyderabad     Business
300150             one          Night        Hyderabad     Business
300151             one        Evening        Hyderabad     Business
300152             one        Evening        Hyderabad     Business

        flight_duration  days_until_departure  ticket_price
0                  2.17                     1          5953
1                  2.33                     1          5953
2                  2.17                     1          5956
3                  2.25                     1          5955
4                  2.33                     1          5955
...                 ...                   ...           ...
300148            10.08                    49         69265
300149            10.42                    49         77105
300150            13.83                    49         79099
300151            10.00                    49         81585
300152            10.08                    49         81585

[300153 rows x 12 columns]>

In [12]:
df

,unnamed:_0,airline_name,flight_number,source_city,departure_time,number_of_stops,arrival_time,destination_city,travel_class,flight_duration,days_until_departure,ticket_price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

In [13]:
numeric_cols = df.select_dtypes(include=[np.number]).columns
for col in numeric_cols:
    df[col] = df[col].fillna(df[col].mean())

In [14]:
categorical_cols = df.select_dtypes(include=["object"]).columns
for col in categorical_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

# Convert date columns if any

In [17]:
if 'departure_date' in df.columns:
    df['departure_date'] = pd.to_datetime(df['departure_date'], errors='coerce')
if 'arrival_date' in df.columns:
    df['arrival_date'] = pd.to_datetime(df['arrival_date'], errors='coerce')

In [18]:
for col in categorical_cols:
    df[col] = df[col].str.strip().str.title()

Stasticstic

In [20]:
from scipy import stats
z_scores = np.abs(stats.zscore(df[numeric_cols]))
outliers = (z_scores > 3).sum()
print("\nOutliers per numeric column:\n", outliers)

Outliers per numeric column:
 unnamed:_0                0
flight_duration         722
days_until_departure      0
ticket_price            602
dtype: int64

In [22]:
df.to_csv("/Users/yadvendrasingh/Downloads/Indian Airlines.csv", index=False)
print("\n Data cleaning complete! Saved as 'Indian_Airlines_Cleaned.csv'")

 Data cleaning complete! Saved as 'Indian_Airlines_Cleaned.csv'